body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333333;
  }
   
  canvas {
    width: 98vmin;
    height: 98vmin;
  }
  